body {
    background: linear-gradient(#13181d, #20212e, #341b47);
    margin: 0;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    color: white;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    gap: 30px;
    padding: 40px 20px;
    flex-direction: row;
  }
  
  .game-container {
    position: relative;
    width: 25vw;
    height: 30vh;
    background-color: #2658ef;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 15px;
    border: 1px solid orange;
    display: flex;
    flex-direction: column;
    justify-content: flex;
    padding: 20px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    transition: transform 0.3s ease;
  }
  
  .game-container:hover {
    transform: scale(1.03);
  }
  
  .btn-container {
    display: flex;
    justify-content: center;
  }
  
  .game-btn {
    background: linear-gradient(135deg, #28054f, #d33bfd);
    color: white;
    border: none;
    padding: 14px 24px;
    font-weight: bold;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 10px #d33bfd;
  }
  
  .game-btn:hover {
    background: linear-gradient(135deg, #5029b4, #28054f);
    box-shadow: 0 6px 15px rgba(255, 0, 0, 0.6);
    transform: scale(1.05);
  }
  
  #home-btn {
    position: absolute;
    top: 15px;
    left: 15px;
    background: none;
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
  }
  
  #home-btn img {
    width: 40px;
    height: 40px;
    opacity: 0.7;
    transform: rotate(180deg);
    transition: all 0.2s ease-in-out;
  }
  
  #home-btn:hover img {
    opacity: 1;
    transform: rotate(180deg) scale(1.1);
  }
  
  #home-btn:active img {
    transform: rotate(180deg) scale(0.95);
  }
  
  .candy-crush-background {
    background-image: url("../assets/candy_crush.png");
    
  }
  
  .mahjong-background {
    background-image: url("../assets/mahjong.png");
  }
  
  .dreamlanders-background {
    background-image: url("../assets/DreamLanders.png");
  }
  
  @media (max-width: 900px) {
    .container {
      flex-direction: column;
      
    }
  
    .game-container {
      width: 90vw;
      height: 100vh;
    }
  
    .game-btn {
      padding: 12px 20px;
      font-size: 0.95rem;
    }
  }
  
  @media (max-width: 500px) {
    .game-container {
      height: 25vh;
      display: flex;
      flex-direction: column;

    }
  
    .game-btn {
      padding: 10px 16px;
      font-size: 0.85rem;
    }
  }
  